.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 5px;
	padding: 10px;
}

.container {
	height: 100px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	margin: 20px;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	overflow: hidden;
    position: relative;
    width: 90%;
  }

  .image {
	width: 100%;
	height: auto;
  }
  
  .base {
	height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .overlay {
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .container:hover .overlay {
	opacity: 1;
  }
  
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }